<div class="menu">
  <img src="./../../../assets/logo-covid.png" width="35%" data-aos="zoom-in" data-aos-duration="3000">
  <select type="text" list="paises" class="form-select" #select [(ngModel)]="ctrl" name="ctrl">
    <option *ngFor="let p of paises" value="{{p}}">{{p}}</option>
  </select>
  <button type="button" class="btn btn-success" (click)="getDatos(select.value)">Buscar</button>
</div>
<div class="container contenido" *ngIf="ctrl!='0' && control">
  <div class="flag">
    <img src="{{bandera}}" class="rounded" style="max-width: 50%;">
    <h2><strong>Población Total: </strong>{{poblacion}}</h2>
    <h2><strong>Actualización: </strong>{{fecha | date:'dd-MM-yyyy'}}</h2>
  </div>
  <div class="chart">
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [colors]="barChartColors"
      [chartType]="barChartType">
    </canvas>
  </div>
</div>
<div class="container-fluid" *ngIf="ctrl!='0' && control" style="display: flex; flex-flow: column wrap; align-items: center;">
  <h3>Historico</h3>
  <p>Ultimos 15 días</p>
  <div class="chart-wrapper" style="width: 100%;">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>


<!--
<div class="container tabla" *ngIf="ctrl_extra">
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">Ciudad</th>
        <th scope="col">Confirmados</th>
        <th scope="col">Recuperados</th>
        <th scope="col">Muertes</th>
      </tr>
    </thead>
  </table>
</div> -->

